<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AnimeDev</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<div class="main-container" ng-controller="myCtrl">
			<div class="header-container">
				<img class="main-image" src="./assets/logo.png" alt="logo" />
				<h1>AnimeDev</h1>
			</div>
			<div class="input-container">
				<input
					type="text"
					ng-model="test"
					ng-change="getAnimes()"
					placeholder="¿Que buscas?"
				/>
			</div>
			<div class="animes-container">
				<div class="card-container" ng-repeat="i in animes">
					<img src="{{ i.attributes.posterImage.tiny }}" alt="imagen Anime" />
					<h3>{{ i.attributes.titles.en_jp }}</h3>
				</div>
			</div>
		</div>
	</body>
</html>
