* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #303d4f;
}

.main-container {
	display: flex;
	flex-direction: column;
}

.header-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #353943;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.main-image {
	vertical-align: middle;
}

h1 {
	align-self: center;
}

a:link,
a:visited,
a:active {
	color: white;
	text-decoration: none;
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.input-container input {
	width: 700px;
	padding: 10px;
	font-size: 20px;
	max-width: 80%;
	background: #273242;
	color: #a8a8a8;
	border: 0;
	outline: 0;
	border-radius: 4px;
}

.animes-container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}

.card-container {
	padding: 2%;
	background-color: #273242;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card-container img {
	display: block;
	margin: 0 auto;
}

.card-container h3 {
	text-align: center;
	color: white;
}
@media (max-width: 600px) {
	.animes-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 600px) {
	.animes-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 900px) {
	.animes-container {
		grid-template-columns: repeat(3, 1fr);
	}
}
